header {
    background-color: red*redbackground */
}
main {
    background-color:blue; /* Padding around the main content */
}
section {
    margin-bottom: 20px; /* Space between sections */
    padding: 15px; /* Padding inside each section */
}
div {
    margin: 10px 0; /* Margin for div elements */
    padding: 10px; /* Padding inside div elements */
}
h1{background-color:rgb(255, 0, 0);
    B
    color: red
}
h2
{
    background-color:black;
    color:red;
}
P{
    background-color: yellow;
    color: red

}